/* 難易度 */
.habit-difficulty{
  margin: 10px;
  display: inline-block;
}
.difficulty-grade{
  display: flex;
}
/* /難易度 */

/* 達成状況 */
.habit-achieved-status-table{
  overflow-x: scroll;
}

.achieve-btn{
  white-space: nowrap;
}
/* /達成状況 */