.small-target-happiness-hardness{
  margin: 10px;
  display: inline-flex;
}
.small-target-happiness{
  margin: 10px;
  display: inline;
}
.happiness-grade{
  display: flex;
}
.small-target-hardness{
  margin: 10px;
}
.hardness-grade{
  display: flex;
}