.main-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 40px;
  background-color: lightgreen;
}
/* 共通 */
.message-list{
  display: flex;
}
/* /共通 */


/* 目標入力フォーム */
.input-form{
  width: 100%;
  margin: 40px 0;
}
.target-content-input-box{
  width: 100%;
}
.target-name-input-box{
  width: 100%;
  margin-top: 40px;
}
.submit-button-box{
  margin: 20px 0;
}
/* /目標入力フォーム */
