.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  background-color: lightgreen;
}

/* 目標の詳細表示 */
.target-box{
  width: 95%;
  margin: 10px;
  background-color: white;
}
.target-level{
  margin: 10px;
}
.target-exp-box{
  display: flex;
  align-items: center;
}
.exp-string{
  margin: 10px;
}
.exp-bar{
  width: 50%;
  margin: 10px;
}
.target-content-box{
  margin: 10px;
}
/* /目標の詳細表示 */
/* リンク */
.links{
  width: 95%;
  margin: 10px;
  background-color: white;
}
.message-list{
  display: flex;
}
/* /リンク */
/* 習慣一覧 */
.habit-lists{
  width: 95%;
  margin: 10px;
  background-color: green;
}
.habit-box{
  margin: 10px;
  background-color: white;
}
/* /習慣一覧 */
/* 小目標一覧 */
.small-target-lists{
  width: 95%;
  margin: 10px;
  background-color: green;
}
.small-target-box{
  margin: 10px;
  background-color: white;
}
/* /小目標一覧 */