.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  background-color: lightgreen;
}

/* 目標の詳細表示 */
.target-box{
  width: 95%;
  margin: 10px;
  background-color: white;
}
.target-level{
  margin: 10px;
}
.target-exp-box{
  display: flex;
  align-items: center;
}
.exp-string{
  margin: 10px;
}
.exp-bar{
  width: 50%;
  margin: 10px;
}
.target-content-box{
  margin: 10px;
}
/* /目標の詳細表示 */
/* リンク */
.links{
  width: 95%;
  margin: 10px;
  background-color: white;
}
.message-list{
  display: flex;
}
/* /リンク */
/* 習慣一覧 */
.habit-lists{
  width: 95%;
  margin: 10px;
  background-color: green;
}
.habit-lists > .hidden{
  display: none;
}
.active-field{
  /* display: flex;
  flex-direction: column; */
}
.habit-box-active{
  margin: 10px;
  background-color: white;
}
.inner-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.not-active-field{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.habit-box-not-active{
  margin: 10px;
  background-color: white;
  display: inline-block;
}
.habit-new-link{
  display: flex;
  background-color: white;
}
/* /習慣一覧 */
/* 小目標一覧 */
.small-target-index{
  width: 95%;
  margin: 10px;
  background-color: green;
}
.small-target-index > .hidden{
  display: none;
}
.small-target-lists{
  display: flex;
  flex-wrap: wrap;
}
.small-target-box{
  margin: 10px;
  background-color: white;
  width: auto;
}
.small-target-new-link{
  display: flex;
  background-color: white;
}
/* /小目標一覧 */