.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  background-color: lightgreen;
}

/* 習慣一覧 */
.habit-box{
  width: 100%;
  margin: 10px;
  background-color: white;
}
.habit-achieved-ratio-box{
  display: flex;
  align-items: center;
}
.achieved-ratio-string{
  margin: 10px;
}
.achieved-ratio-bar{
  width: 50%;
  margin: 10px;
}
.habit-content-box{
  margin: 10px;
}
/* /習慣一覧 */

/* リンク */
.message-lists{
  width: 100%;
  margin: 10px;
  background-color: white;
}
.message-list{
  display: flex;
}
/* /リンク */

